@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Potta+One&display=swap&family=Zhi+Mang+Xing&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

.showcase {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
}

.showcase
    header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px
        100px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase
    header
    .logo {
    display: flex;
    cursor: pointer;
}

.showcase
    header
    .logo
    .lastname {
    margin: auto;
    font-weight: 100;
}

.showcase
    .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase
    .menu
    li {
    list-style-type: none;
    margin-right: 2rem;
}

.showcase
    .menu
    li:last-child {
    margin-right: 0;
}
.showcase
    .menu
    li
    a {
    color: white;
    text-decoration: none;
}

.showcase
    video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}

.showcase
    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5bc7b;
    mix-blend-mode: overlay;
}

.showcase
    .text-container {
    position: relative;
    z-index: 3;
}

.showcase
    .text-container
    .my-name {
    font-family: 'Zhi Mang Xing',
        cursive;
    font-size: 65px;
    background: rgb(
        58,
        47,
        233
    );
    background: linear-gradient(
        33deg,
        rgba(
                58,
                47,
                233,
                1
            )
            0%,
        rgba(
                167,
                65,
                228,
                1
            )
            27%,
        rgba(
                249,
                72,
                86,
                1
            )
            100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase
    .text-container
    .text {
    display: inline-block;
    letter-spacing: 2px;
    background: rgb(
        58,
        47,
        233
    );
    background: linear-gradient(
        33deg,
        rgba(
                58,
                47,
                233,
                1
            )
            0%,
        rgba(
                167,
                65,
                228,
                1
            )
            27%,
        rgba(
                249,
                72,
                86,
                1
            )
            100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase
    .text-container
    .cursor {
    display: inline-block;
    width: 3px;
    /* margin-left: 2px; */
    height: 28px;
    background-color: rgba(
        249,
        72,
        86,
        1
    );
    vertical-align: middle;
    animation: blink
        0.7s
        /* step-end */
        infinite;
    animation-timing-function: steps(
        5,
        end
    );
}

.showcase
    .text-container
    p {
    margin: 20px
        0;
    max-width: 600px;
}

.showcase
    .text-container
    a {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 10px
        30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}
.showcase
    .text-container
    a:hover {
    background-color: blueviolet;
    color: white;
}

.showcase
    .social {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
}

.showcase
    .social
    li {
    margin-right: 16px;
}

.showcase
    .social
    a {
    color: inherit;
}

.signature {
    z-index: 999;
    position: absolute;
    bottom: 15px;
}

@keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: rgb(
            255,
            81,
            0
        );
    }
}
